.Track {
    display:grid;
    grid-template-columns: 9fr 1fr;
    border-bottom: solid 1px #e6e3cf;
    padding-left:3%
}

.Track:hover{
    background-color:#321c3d;
    color:#FFFFFF;
}

.Track__action {
    background-color:inherit;
    border: 0px;
    color:inherit;
    border-left: 1px solid #e6e3cf;
    font-size: calc(10px + 3vmin);

}