.App {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  text-align: center;
  height:100vh;
  color: #321c3d;
  width:100%;
}

.App__title{
  background-color: #321c3d;
  color:#ffffff;
  text-align:start;
  padding-left: 10%;
  height:10vh;
  border-bottom: 1px solid #d4bbd8;
}

.App__tracklistContainers{
  display: grid;
  grid-template-columns: 1fr 3% 1fr;
  justify-items: center;
  font-size: calc(10px + 1vmin);
  height: 80vh;
  padding-left: 1%;
  padding-right: 1%;
  background-color:#e6e3cf;
}